{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}
{% block body %}
<h1>Home Page</h1>

    {% if is_granted('ROLE_USER') %}
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
        <ul><h4><a href="{{path('roomlist')}}">Rooms</a></h4></ul>
        <ul><h4><a href="{{path('fos_user_security_logout')}}">Logout</a></h4></ul>
        {% else %}
            {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <label>ADMINS ONLY!</label>
        {% endif %}
    <ul><h4><a href="{{path('fos_user_security_login')}}">Login</a></h4></ul>
    <ul><h4><a href="{{path('fos_user_registration_register')}}">Create New User</a></h4></ul>
{% endblock %}