{% extends 'base.html.twig' %}
{% block title %}User Profile: {{ user.userName }}{% endblock %}
{% block body %}
    {#TODO: add option to edit first and last name#}
    {#TODO: Location with option to display#}
    <h1><b>{{ user.userName }}</b></h1>
    <h2>Name: {{ user.firstname}} {{ user.lastname }}</h2>
    <h4><p>{{ user.description }}</p></h4>
{% endblock %}
